@media (min-width: 29.5rem) {
  .secndBtn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .thrdBtn {
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-top: 0 !important;
  }

  .frthBtn {
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
    margin-top: 0.25rem;
  }
}

@media (min-width: 48rem) {
  .secndBtn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .thrdBtn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-top: 0 !important;
  }

  .frthBtn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    margin-top: 0 !important;
  }
}

.profileNav {
  list-style: none;
}

.listItem {
  margin-bottom: 0;
  text-decoration: none;
  color: #fff;
  border: 0.0625rem solid #1864ab;
  background-color: #228be6;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  padding: 0.0625rem 0;
}

.fstBtn {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.fstBtn:hover {
  background-color: #fff;
  color: #212529;
  transition: all 0.2s;
}

.secndBtn {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.secndBtn:hover,
.thrdBtn:hover {
  background-color: #fff;
  color: #212529;
  transition: all 0.2s;
}

.thrdBtn {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.5rem;
}

.frthBtn {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  margin-top: 0.5rem;
}

.frthBtn:hover {
  background-color: #fff;
  color: #212529;
  transition: all 0.2s;
}

.selected {
  background-color: #e7f5ff;
  color: #212529;
}

.notSelected {
  background-color: #228be6;
}
